<div class="nav-item" dropdown>
    <button class="nx-lang-btn" dropdownToggle>
        <i class="{{ currentLanguage.icon }}"></i>
        <span>{{ currentLanguage.displayName }}</span>
        <i class="fas fa-chevron-down" style="font-size:9px; opacity:0.5;"></i>
    </button>
    <div class="nx-dropdown-menu dropdown-menu dropdown-menu-right" *dropdownMenu>
        @for (language of languages; track language) {
            @if (language.name != currentLanguage.name) {
                <a class="nx-dropdown-item" href="javascript:;" (click)="changeLanguage(language.name)">
                    <i class="{{ language.icon }}"></i>
                    {{ language.displayName }}
                </a>
            }
        }
    </div>
</div>
