<div class="nav-item" dropdown>
    <button class="nx-user-trigger" dropdownToggle>
        <img src="assets/img/user.png" alt="User" class="nx-user-avatar" />
        <span class="nx-user-chevron"><i class="fas fa-chevron-down"></i></span>
    </button>
    <div class="nx-dropdown-menu dropdown-menu dropdown-menu-right" *dropdownMenu>
        <a class="nx-dropdown-item" [routerLink]="['update-password']">
            <i class="fas fa-key"></i>
            {{ 'UpdatePassword' | localize }}
        </a>
        <div class="nx-dropdown-separator"></div>
        <a class="nx-dropdown-item nx-dropdown-item--danger" href="javascript:;" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            {{ 'Logout' | localize }}
        </a>
    </div>
</div>
